.depoimentos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.palavra-splide {
    height: 60vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & .splide__track {
        width: 100%;
        height: 100%;

        & .splide__list{

            & .splide__slide{
                width: 100%;
                height: 100%;
                transition: all .2s ease-in-out;

                &:hover {
                    transform: scale(0.98);
                }

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }
        }
    }
}

.palavra-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    & .palavra-btnNext,
    .palavra-btnPrev {
        border: none;
        background-color: #E9E9E9;
        width: 35px;
        height: 35px;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .1s ease-in-out;

        &:hover {
            transform: scale(0.98);
        }

        & i {
            font-size: 16px;
            display: contents;
            fill: #353535;
        }
    }

    & .palavra-btnPrev{
        left: 20px;
        position: absolute;
    }

    & .palavra-btnNext{
        right: 20px;
        position: absolute;
    }
}