.garantia {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 25px;

    @media (max-width: 768px){
        margin-top: 0;
    }
}

.garantia-splide {
    padding: 2.5%;
    height: auto;
    min-height: 50vh;

    @media (max-width: 768px){
        width: 100%;    
    }

    & .splide__track{
        width: 100%;
        height: 100%;

        & .splide__list {
            height: 100%;

            & .splide__slide {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                padding: 20px;
                gap: 15px;
                border-radius: 20px;
                background-color: #f5f5f5;
                margin-bottom: 15px;
                border: 1px solid transparent;
                transition: all .2s ease-in-out;

                &:hover {
                    background-color: #f9f9f9;
                    border: 1px solid var(--color--blue);
                    transform: scale(0.98);
                }

                @media (max-width: 768px){
                    width: 100%;
                    margin-bottom: 5px;
                    border-radius: 15px;
                    padding: 15px;
                }

                & h4 {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 110%;
                    color: #107074;
                    font-family: var(--font--comfortaa);

                    @media (max-width: 768px){
                        text-align: center;
                    }
                }

                & img {
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    height: 250px;
                    border-radius: 20px;
                    position: relative;

                    @media (max-width: 768px){
                        height: 350px;
                    }
                }

                & p {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 110%;
                    border-left: 2px solid #00000050;
                    padding-left: 10px;
                }
            }
        }
    }
}

.garantia-buttons {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    display: none;

    @media (max-width: 768px){
        display: flex;
    }

    & .garantia-btnNext,
    .garantia-btnPrev {
        border: none;
        background-color: #E9E9E9;
        width: 35px;
        height: 35px;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .1s ease-in-out;

        &:hover {
            transform: scale(0.95);
        }

        & i {
            font-size: 16px;
            display: contents;
            fill: #353535;
        }
    }

    & .garantia-btnPrev{
        left: 20px;
    }

    & .garantia-btnNext{
        right: 20px;
    }
}

.chamada-garantia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    min-height: 50vh;
    flex-direction: column;

    & h1 {
        font-size: 36px;
        width: 50%;
        line-height: 120%;
        font-weight: 300;
        text-align: center;
        font-family: var(--font--comfortaa);

        & strong {
            color: var(--color--blue);
            font-weight: 400;
            position: relative;
        }

        @media (max-width: 768px){
            font-size: 28px;
            width: 90%;
            line-height: 110%;
        }
    }
}

.my-slider-progress {
    background: #ccc;
    width: 80%;
    margin-left: 10%;

    @media (max-width: 768px){
        width: 95%;
        margin-left: 2.5%;                    
    }
  }
  
  .my-slider-progress-bar {
    background: var(--color--blue);
    height: 2px;
    transition: width 1s ease;
    width: 0;
  }