@keyframes rotate {
    0% {
        transform: rotate(0);
        opacity: 0.2;
    }
    50% {
        transform: rotate(180deg);
        opacity: 0.1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0.2;
    }
}

.oferta {
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;

    &::before{
        content: '';
        width: 100%;
        height: 80%;
        top: 10%;
        position: absolute;
        opacity: 0.05;
        background-image: url('https://imagedelivery.net/1n9Gwvykoj9c9m8C_4GsGA/7cec8e3e-e0e5-46f4-b745-2013134c1900/public');
        background-position: center;
        background-size: cover;
        z-index: -3;
        background-repeat: no-repeat;
        animation: rotate 5s linear infinite alternate-reverse;
    }

    @media (max-width: 768px){
        gap: 30px;
        margin-bottom: 30px;   
        padding-bottom: 0;     
    }

    & h1 {
        font-size: 36px;
        font-family: var(--font--comfortaa);
        width: 60%;
        font-weight: 300;
        text-align: center;
        line-height: 110%;
        position: relative;
        z-index: 1;

        & strong {
            color: var(--color--blue);
            font-weight: 400;
        }

        @media (max-width: 768px){
            font-size: 28px;
            width: 100%;    
        }
    }
}

.card-oferta {
    max-width: 500px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    gap: 30px;
    text-align: center;
    background-image: url('https://imagedelivery.net/1n9Gwvykoj9c9m8C_4GsGA/fabb090f-5470-4b80-d24e-212cea38ef00/public');
    background-position: center;
    background-size: cover;
    position: relative;

    @media (max-width: 768px){
        width: 100%;
        gap: 20px;        
    }

    &:hover::before {
        box-shadow: 20px -20px 40px #64724E50, -20px 20px 40px #7BC2EF50;

        @media (max-width: 768px){
            box-shadow: none;
        }
    }
    

    &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #000;
        opacity: 0.2;
        border-radius: 20px;
        z-index: -1;
    }

    &::before {
        content: '';
        border-radius: 25px;
        width: 102%;
        height: 101%;
        top: -0.5%;
        left: -1%;
        position: absolute;
        background: linear-gradient(#fff, #ececec);
        z-index: -1;
        box-shadow: 25px 25px 50px #64724E70, -25px -25px 50px #7BC2EF70;
        transition: all 2s ease;

        @media (max-width: 768px){
            box-shadow: none;
        }
    }
}

.badges-oferta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    padding: 40px 20px 20px 20px;

    @media (max-width: 768px){
        padding: 20px 10px 10px 10px;        
    }

    & .badge {
        background-color: #ffffffcc;
        backdrop-filter: blur(2px);
        padding: 5px 15px 5px 5px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 7.5px;

        & i {
            width: 30px;
            height: 30px;
            padding: 5px;
            border-radius: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            background-color: var(--color--blue);
            color: #fff;

            @media (max-width: 768px){
                width: 22px;
                height: 22px;
                font-size: 12px;
            }
        }

        & span {
            font-size: 14px;
            font-weight: 500;

            @media (max-width: 768px){
                font-size: 12px;
            }
        }
    }
}

.topics-oferta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
    z-index: 2;

    @media (max-width: 768px){
        padding: 10px;        
    }

    & .topic {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        background-color: #00000020;
        backdrop-filter: blur(2px);
        border-radius: 20px;
        padding: 7.5px 10px ;
        
        @media (max-width: 768px){
            padding: 5px 10px;
            background-color: #00000060;    
        }

        & i {
            font-size: 22px;
            color: #fff;
            fill: #fff;
        }

        & p {
            color: #fff;
            font-size: 18px;
            font-weight: 300;

            @media (max-width: 768px){
                font-size: 15px;
            }
        }
    }
}

.blur {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: auto;
    gap: 40px;
    position: relative;
    z-index: 2;
    background-color: #00000070;
    backdrop-filter: blur(2px);
    padding: 20px;
    border-radius: 0 0 20px 20px;

    @media (max-width: 768px){
        background-color: #00000090;        
    }
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 5px;
    color: #fff;

    & p {
        font-size: 16px;
        font-weight: 300;

        & strong {
            font-weight: 500;
            background-color: #990000;
            padding: 1px 5px;
            border: 1px solid #fff;
        }
    }

    & div {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 2px;
        margin-top: 10px;

        & span {
            font-size: 16px;
            padding-bottom: 6px;
            font-family: var(--font--poppins);
        }

        & h1 {
            line-height: 100%;
            font-size: 60px;
            width: auto;
            white-space: nowrap;
            font-weight: 600;
            font-family: var(--font--poppins);
        }
    }
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;

    & label {
        position: relative;
        width: 100%;
        padding: 12px;
        border-radius: 25px;
        border: 1px solid #fff;

        & span {
            position: absolute;
            top: -20.5px;
            left: 5px;
            color: #fff;
            padding: 0 10px;
            font-size: 12px;
            opacity: 0.8;
            font-weight: 800;
            font-family: var(--font--comfortaa);
        }

        & input {
            width: 100%;
            height: 100%;
            border: none;
            font-size: 16px;
            background-color: transparent;
            color: #fff;
            padding: 0 10px;

            &::placeholder{
                font-size: 14px;
                color: #fff;
                opacity: 0.5;
            }

            &:focus{
                outline: none;
            }
        }
    }

    & button {
        width: 100%;
        padding: 15px;
        border-radius: 25px;
        border: none;
        font-size: 16px;
        background-color: #fff;
        border: 1px solid #ccc;
        margin-top: -25px;
        font-weight: 500;
        cursor: pointer;
        box-shadow: 0px 5px 0 rgba(255, 255, 255, .6);
        transition: all .2s ease;

        &:hover {
            transform: translateY(3px);
            box-shadow: 0 2px 0 rgba(255, 255, 255, .6);
            background-color: #f9f9f9;
        }
    }

    & p {
        font-size: 14px;
        font-weight: 300;
        margin-top: -15px;
        color: #fff;

        @media (max-width: 768px){
            font-size: 12px;    
        }

        & a {
            color: var(--color--blue);
        }
    }

    & img {
        padding: 20px;
        margin-top: -20px;

        @media (max-width: 768px){
            width: 500px;    
        }
    }
}